body {
    background-color: black;
    color: white;

}
.logo-box {
    display: flex;
    margin-top: 1rem;
}
.logo {
    height: 2rem;
}
.logo-text {
    color: white;
    
}

.collapse {
   justify-content: flex-end 
}


.col-12 {
    margin: 1rem;
    padding: 0px;
    border-width: 10px solid white;
}

 .card-img-top {
    
height: 10rem;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;

} 


.formulario {
    background-color: black;
    height: 30rem;
    padding: 40px;
    color: white;
}
footer {
    background-color: rgb(13, 202, 240);
    color: white;
    font-size: 1.5rem;
    height: 5rem;
    padding-top: 2rem;
    display: flex;
    
}
