body {
    background-color: black;
    color: white;
    font-family: "Libre Franklin", sans-serif;
}

/* navbar */
.navbar-scrolled {
    background-color: rgb(13, 202, 240);
    border-bottom: 3px solid black;
    
}
.logo-box {
    display: flex;
    margin-top: 1rem;
    padding-left: 2rem;
}

.logo {
    height: 2rem;
}

.logo-text {
    color: white;
    
}

.collapse {
    justify-content: flex-end
}
#navbarNav {
    padding-right: 3rem;
}


/* whosection  */

div .row {
    display: flex;
    justify-content: center;
    
  }

 
/* descatados */
h6 {
    margin: 1rem;
}
.col-12 {
    margin: 1rem;
    padding: 0px;
    border-width: 10px solid white;
}

.card-img-top {

    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.row {
    display:flex;
    justify-content: center;
}
/* contacto */
h4 {
    text-align: center;
    size: 4rem;
    padding: 3rem;
    border-bottom-style:groove;
    margin-bottom: 4rem;
}

.formulario {
    background-color: black;
    padding: 50px;
    color: white;
}

/* footer */
i {
    color: white;
}

footer {
    background-color: rgb(13, 202, 240);
    color: white;
    font-size: 1.5rem;
    height: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}